@import "src/@fuse/scss/fuse";

#file-manager {
    .sidebar {
        width: 320px !important;
        min-width: 320px !important;
        max-width: 320px !important;

        &.details-sidebar {
            @include media-breakpoint('gt-md') {
                z-index: 0;
            }
        }
    }

    .center {
        overflow: hidden;

        .content {
            flex: 1 1 auto;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            
        }
    }

    .type-icon {

        &.folder {
            &:before {
                content: 'folder';
                color: #FFB300;
            }
        }

        &.document {
            &:before {
                content: 'insert_drive_file';
                color: #1565C0;
            }
        }

        &.spreadsheet {
            &:before {
                content: 'insert_chart';
                color: #4CAF50;
            }
        }
    }
}