<div id="warehouse-outbound" class="page-layout simple right-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <!-- <fuse-sidebar class="sidebar main-sidebar" name="file-manager-main-sidebar" position="left">
        <file-manager-main-sidebar></file-manager-main-sidebar>
    </fuse-sidebar> -->
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex>
        
        <!-- CONTENT -->
        <div class="content" #scrollContainer>
            <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
        </div>
        <!-- / CONTENT -->
        
    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR    *ngIf="selected.ItemID"-->
    <!-- <fuse-sidebar  class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right"
                  lockedOpen="gt-md"> -->
    <!-- <fuse-sidebar  class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right">
        <file-manager-details-sidebar></file-manager-details-sidebar>
    </fuse-sidebar> -->

    <!-- / SIDEBAR -->

</div>
