<div class="page-layout simple right-sidebar inner-scroll">

    <!-- CENTER -->
    <div class="center" fxFlex>
        
        <!-- CONTENT -->
        <div class="content" #scrollContainer>
            <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
        </div>
        <!-- / CONTENT -->
        
    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar  class="sidebar details-sidebar" name="outbound-details-sidebar" position="right"
                  lockedOpen="gt-md">
        <outbound-details-sidebar></outbound-details-sidebar>
    </fuse-sidebar> 
    <!-- / SIDEBAR -->

</div>
