<!-- SIDEBAR HEADER -->
<div class="header accent" 
    fxLayout="column" fxLayoutAlign="space-between">
    <div class="header-content" [ngStyle]="{'background': selected.ItemID && 'url(assets/images/tool1.jpg)'}">
        <div class="toolbar p-16" fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="selected.ItemID" (click)="composeDialog()" mat-icon-button style="background-color: #fff;">
                <mat-icon style="color: black">build</mat-icon>
            </button>
        </div>
        <div *ngIf="!selected.ItemID" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span>No item selected</span>
        </div>

        <div *ngIf="selected.ItemID" class="mat-elevation-z-1 preview file-icon w-100-p"
            style="height: 100%; flex: 1; display: flex; align-items: flex-end; justify-content: center; padding: 0 16px;">
            <div *ngIf="!selected.ImagePath" 
                style="width: 100%; border-radius: 8px 8px 0 0; padding: 12px; background-color: #f5f5f5;">
                <div style="width: 100%;" class="subtitle secondary-text">
                    <span style="color: black;">{{selected.ItemName}}</span>
                </div>
            </div>
            <ng-container *ngIf="!selected.ItemID">
                <span>No item selected</span>
            </ng-container>
        </div>
        <!-- <div *ngIf="selected.ItemID" style="border-radius: 8px; padding: 8px; flex: 0; background-color: rgba(255, 255, 255, 0.60);">
            <div class="subtitle secondary-text">
                <span style="color: black;">{{selected.ItemName}}</span>
            </div>
        </div> -->
    </div>
</div> 
<!-- / SIDEBAR HEADER -->


<!-- SIDEBAR CONTENT -->
<div class="content p-24" fusePerfectScrollbar style="padding-top: 12px;">
    <div *ngIf="selected.ItemID"
        style="flex: 0; padding-bottom: 8px;">
        <div style="padding-bottom: 8px;" class="subtitle secondary-text" *ngIf="selected.ImagePath">
            <span style="color: black;">{{selected.ItemName}}</span>
            <hr>
        </div>
    </div>
    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
        <div class="title">Dimensions</div>

        <table>
            <tr class="Length">
                <th>Length</th>
                <td>{{selected.Dimensions?.Length}} {{selected.Dimensions?.ProductDimensionUOM.toLowerCase()}}</td>
            </tr>

            <tr class="Width">
                <th>Width</th>
                <td>{{selected.Dimensions?.Width}} {{selected.Dimensions?.ProductDimensionUOM.toLowerCase()}}</td>
            </tr>

            <tr class="Height">
                <th>Height</th>
                <td>{{selected.Dimensions?.Height}} {{selected.Dimensions?.ProductDimensionUOM.toLowerCase()}}</td>
            </tr>

            <tr class="Weight">
                <th>Weight</th>
                <td>{{selected.Dimensions?.Weight}} {{selected.Dimensions?.ProductWeightUOM.toLowerCase()}}</td>
            </tr>

            <tr class="PackageLength">
                <th>Package Length</th>
                <td>{{selected.Dimensions?.PackageLength}} {{selected.Dimensions?.PackageDimensionUOM.toLowerCase()}}</td>
            </tr>

            <tr class="PackageWidth">
                <th>Package Width</th>
                <td>{{selected.Dimensions?.PackageWidth}} {{selected.Dimensions?.PackageDimensionUOM.toLowerCase()}}</td>
            </tr>

            <tr class="PackageHeight">
                <th>Package Height</th>
                <td>{{selected.Dimensions?.PackageHeight}} {{selected.Dimensions?.PackageDimensionUOM.toLowerCase()}}</td>
            </tr>

            <tr class="PackageWeight">
                <th>Package Weight</th>
                <td>{{selected.Dimensions?.PackageWeight}} {{selected.Dimensions?.PackageWeightUOM.toLowerCase()}}</td>
            </tr>

            <tr class="PackagingType">
                <th>Packaging Type</th>
                <td>{{dictPackingType[selected.Dimensions?.PackagingType]}}</td>
            </tr>

            <tr class="UnitPerPackage">
                <th>Unit Per Package</th>
                <td>{{selected.Dimensions?.UnitPerPackage}}</td>
            </tr>

            <tr class="MaximumParcelUnit">
                <th>Maximum Parcel Unit</th>
                <td>{{selected.Dimensions?.MaximumParcelUnit}}</td>
            </tr>

        </table>
        <hr>
        <div class="title">General Info</div>
        <table>
            <tr class="owner">
                <th>TPIN</th>
                <td>{{selected.TPIN}}</td>
            </tr>
            <tr class="owner">
                <th>Vendor SKU</th>
                <td>{{selected.VendorSKU}}</td>
            </tr>
            <tr class="owner">
                <th>Description</th>
                <td>{{selected.Description}}</td>
            </tr>
        </table>
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
