<div id="file-manager" class="page-layout simple right-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar main-sidebar" name="file-manager-main-sidebar" position="left">
        <!-- <file-manager-main-sidebar></file-manager-main-sidebar> -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- CONTENT -->
        <div class="content warehouse" fusePerfectScrollbar>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
