@import "src/@fuse/scss/fuse";

.mat-column-Quantity {
    flex: 0 0 13% !important;
    min-width: 13% !important;
}
.mat-column-PONumber {
    flex: 0 0 17% !important;
    min-width: 17% !important;
}