<!-- SIDEBAR HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="space-between">
    <div class="header-content p-16">
        <div *ngIf="selected && selected.FulfillmentID" class="toolbar" fxLayout="row" fxLayoutAlign="space-between center"
            [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
            <div class="subtitle secondary-text">
                <span>{{selected.FulfillmentNumber}}</span>
            </div>
            <div>
                <!-- <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item>
                        Convert Shipping Method
                    </button>
                    <button mat-menu-item>
                        Address
                    </button>
                </mat-menu> -->
                <button *ngIf="selected.FulfillmentID" 
                    aria-label="close" mat-icon-button (click)="clearSelected()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="!selected.FulfillmentID" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span>No item selected</span>
        </div>
        <div *ngIf="selected.FulfillmentID" fxFlex fxLayout="row" fxLayoutAlign="center center"
            [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
            <!-- <button class="main-action"
                [ngClass]="warehouseService.buttonColorDict[selected.Action]
                    ? warehouseService.buttonColorDict[selected.Action] : 'primary'"
                mat-raised-button>
                <span class="btn-title">{{selected.Action}}</span>
            </button> -->
            <button class="main-action darkblue"
                style="width: 100%; height: 102px;"
                mat-raised-button
                [disabled]=pickIncomplete>
                <span class="btn-title" style="font-size: 22px;">Pick</span>
            </button>
        </div>
    </div>
</div> 
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" fxLayout="column" fusePerfectScrollbar #scrollContainer>
    <div class="p-24" fxLayout="column" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
        <div><strong>TPIN</strong>: <span style="margin-left: 10px;">{{ selectedFulfillmentLine?.ItemTPIN }}</span></div>

        <div fxFlex fxLayout="column" fxLayoutAlign="center center"
            [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
            <div style="margin: 20px 0 20px 0; width: 100%">
                <button class="main-action darkblue" 
                    mat-raised-button
                    (click)="sendPick(selectedFulfillmentLine)">
                    <span class="btn-title">Pick</span>
                </button>
            </div>
            <div style="margin-bottom: 20px; width: 100%">
                <button class="main-action" (click)="openDialogEnterConfirmedQty()"
                    mat-raised-button style="background-color: #82b1ff;">
                    <span class="btn-title">Update QTY / BIN</span>
                </button>
            </div>
            <div style="margin-bottom: 20px; width: 100%">
                <button (click)="sendMissingItem(selectedFulfillmentLine)" 
                    class="main-action" mat-raised-button style="background-color: #e53935;">
                    <span class="btn-title">Missing Item</span>
                </button>
            </div>
        </div>
</div>
<!-- / SIDEBAR CONTENT -->
