<div class="page-layout simple right-sidebar inner-scroll">
    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- CONTENT -->
        <div class="container content accent" (scroll)="onScroll($event)"  #scrollContainer>
            <div class="main-list-layout list-container" style="height: 100%;">
                <!-- HEADER  -->
                <div id="header-markship-sm" fxLayout="row" style="margin-bottom: 40px; height: 70px; min-height: 70px; max-height: 70px;">
                    <div class="sub-header p-16">
                        <div class="toolbar"  fxLayout="row" fxLayoutAlign="start">
                            <button style="z-index:10;" [routerLink]="['..']" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
                            <div style="padding-left: 30px; font-size: 24px; display: flex; align-items: center;" [@animate]="{value:'*',params:{x:'250px'}}">Fulfillment - {{selected.FulfillmentNumber}}</div>
                        </div>
                    </div>
                    <div class="sidebar side-header accent" fxLayout="column" fxLayoutAlign="space-between">
                        <div class="header-content p-16">
                            <div *ngIf="selected && selected.FulfillmentID" class="toolbar" fxLayout="row"
                                fxLayoutAlign="end top">
                                <button [ngClass]="warehouseOutboundService.buttonColorDict[selected.Action]"
                                    [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}"
                                    style="margin-right: 40px; height: 60px; width: 180px;" mat-raised-button>
                                    <span class="btn-title" style="color: #fff; font-size: 18px; text-transform: uppercase;">{{selected.Action}}</span>
                                </button>
                                <button [routerLink]="['..']" *ngIf="selected.FulfillmentID" aria-label="close" mat-icon-button>
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /HEADER  -->

                <div *ngIf="isLoading" class="loader">
                    <mat-spinner [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"></mat-spinner>
                </div>
                <div *ngIf="isRefreshing && !isLoading" class="mini-loader">
                    <mat-spinner diameter="20"></mat-spinner>
                </div>

                <!-- BODY -->
                <div class="table-container-body">
                
                    <div style="overflow: auto;" fxLayout.lt-md="column" fxLayout="row" fxFlex fxFlex.lt-md="66.6" fxLayoutGap.lt-md=”30px”>
                    <!-- <div fxLayout="row" fxFlex> -->

                        <div class="table-container first-box" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.4'}}" fxFlex  style="margin-right: 40px;" ngStyle.sm="margin-right: 0px;" >
                            <div class="table-section-header accent"  fxLayout="row" fxLayoutAlign="space-between end">
                                <span>Packing Slip</span>
                                <div>
                                    <button mat-raised-button> <mat-icon style="color: green;">add</mat-icon> </button>
                                    <button mat-raised-button> <mat-icon style="color: red">remove</mat-icon> </button>
                                    <button mat-raised-button (click)="openDialogFulfillmentPackingSlipEditAddress()"> Address </button>
                                </div>
                            </div>
                            <mat-table class="mat-elevation-z2" style="background-color: #fff; border-radius: 0 4px 4px 0;" *ngIf="!isLoading" #table [dataSource]="dataSourcePackingSlip" [@animateStagger]="{value:'50'}" matSort>
                                <ng-container matColumnDef="Fulfillment">
                                    <mat-header-cell *matHeaderCellDef>Fulfillment</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{selected?.FulfillmentNumber}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Address1">
                                    <mat-header-cell *matHeaderCellDef>Address 1</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <!-- {{row.Address1}} -->
                                        <div>4047 Shoemaker East Ave. R-12</div>
                                    </mat-cell>
                                </ng-container>
                
                                <ng-container matColumnDef="Address2">
                                    <mat-header-cell *matHeaderCellDef>Address 2</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{row.Address2}}
                                    </mat-cell>
                                </ng-container>
                
                                <ng-container matColumnDef="City">
                                    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row.City }} Palmdale</mat-cell>
                                </ng-container>
                
                                <ng-container matColumnDef="State">
                                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row.State }} CA</mat-cell>
                                </ng-container>
                
                                <ng-container matColumnDef="Zip">
                                    <mat-header-cell *matHeaderCellDef>Zip</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row.Zip }} 93551</mat-cell>
                                </ng-container> 
                                
                                <mat-header-row #sort *matHeaderRowDef="displayedColumnsPackingSlip; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsPackingSlip;" (click)="onSelect(row, 'packingslip')"
                                    id={{row.FulfillmentID}} [ngClass]="{'selected' : row == selectedFulfillmentPackingSlip}"
                                    [@animate]="!selected && {value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                        </div>
                        <div class="table-container" [@animate]="{value:'*',params:{delay:'300ms',scale:'0.4'}}" fxFlex>
                            <div class="table-section-header accent" fxLayout="row" fxLayoutAlign="space-between end">
                                <span>Package</span>
                                <div>
                                    <button mat-raised-button (click)="openDialogFulfillmentPackage()"> <mat-icon style="color: green">add</mat-icon> </button>
                                    <button mat-raised-button> <mat-icon style="color: red">remove</mat-icon> </button>
                                    <button mat-raised-button (click)="openDialogFulfillmentPackage()"> Edit </button>
                                    <button mat-raised-button> Reprint </button>
                                    <button mat-raised-button style="color: red"> Void </button>
                                </div>
                            </div>
                            <mat-table class="mat-elevation-z2" style="background-color: #fff; border-radius: 4px 0px 0px 4px;" *ngIf="!isLoading" #table [dataSource]="dataSourcePackage" [@animateStagger]="{value:'50'}" matSort>
                                
                                <!-- PackageNumber Column -->
                                <ng-container matColumnDef="PackageNumber">
                                    <mat-header-cell *matHeaderCellDef>Package #</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.PackageNumber}}</mat-cell>
                                </ng-container>
                                <!-- Length Column -->
                                <ng-container matColumnDef="Length">
                                    <mat-header-cell *matHeaderCellDef>Length</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.Length}}</mat-cell>
                                </ng-container>
                                <!-- Width Column -->
                                <ng-container matColumnDef="Width">
                                    <mat-header-cell *matHeaderCellDef>Width</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.Width}}</mat-cell>
                                </ng-container>
                                <!-- Height Column -->
                                <ng-container matColumnDef="Height">
                                    <mat-header-cell *matHeaderCellDef>Height</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.Height}}</mat-cell>
                                </ng-container>
                                <!-- Weight Column -->
                                <ng-container matColumnDef="Weight">
                                    <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.Weight}}</mat-cell>
                                </ng-container>
                                <!-- TrackingNumber Column -->
                                <ng-container matColumnDef="TrackingNumber">
                                    <mat-header-cell *matHeaderCellDef>Tracking #</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.TrackingNumber}}</mat-cell>
                                </ng-container>
                                
                                <mat-header-row #sort *matHeaderRowDef="displayedColumnsPackage; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsPackage;" (click)="onSelect(row, 'package')"
                                    id={{row.FulfillmentID}} [ngClass]="{'selected' : row == selectedFulfillmentPackage}"
                                    [@animate]="!selected && {value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                        </div>
                    </div>
                    <div class="table-container" style="margin-bottom: 0 !important" [@animate]="{value:'*',params:{delay:'350ms',scale:'0.4'}}" fxFlex>
                        <div class="table-section-header accent" fxLayout="row" fxLayoutAlign="space-between end">
                            <span>Item</span>
                        </div>
                        <mat-table style="background-color: #fff; border-radius: 0 0 0 0;" *ngIf="!isLoading" #table [dataSource]="dataSourceItems" [@animateStagger]="{value:'50'}" matSort>
                            <!-- Fulfillment Column -->
                            <ng-container matColumnDef="Fulfillment">
                                <mat-header-cell *matHeaderCellDef>Fulfillment</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{selected?.FulfillmentNumber}}</mat-cell>
                            </ng-container>
                            <!-- Item Column -->
                            <ng-container matColumnDef="Item">
                                <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <div fxLayout="row">
                                        <div style="overflow: hidden; margin-right: 6px;" fxLayoutAlign="center center">
                                            <img style="width: 40px;" src="{{fileURL + row.ItemImagePath}}">
                                        </div>
                                        <div fxLayout="column">
                                            <div>{{ row.ItemTPIN }}</div>
                                            <div>{{ row.ItemSKU }}</div>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- BIN Column -->
                            <ng-container matColumnDef="BIN">
                                <mat-header-cell *matHeaderCellDef>BIN</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <div fxLayout="column">
                                        <div *ngFor="let bin of row.FulfillmentLineInventoryDetails">
                                            {{ bin.BinNumber + '(' + bin.Quantity + ')'}}
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- ConfirmedBIN Column -->
                            <ng-container matColumnDef="ConfirmedBIN">
                                <mat-header-cell *matHeaderCellDef>Confirmed BIN</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <div fxLayout="column">
                                        <div *ngFor="let bin of row.FulfillmentLineConfirms">
                                            {{ bin.BinNumber + '(' + bin.Quantity + ')'}}
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- OrderedQty -->
                            <ng-container matColumnDef="OrderedQty">
                                <mat-header-cell *matHeaderCellDef>Ordered Qty</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Quantity }}</mat-cell>
                            </ng-container>

                            <!-- PackedQty -->
                            <ng-container matColumnDef="PackedQty">
                                <mat-header-cell *matHeaderCellDef>Packed Qty</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Quantity }}</mat-cell>
                            </ng-container>

                            <!-- SelectedPackageQty -->
                            <ng-container matColumnDef="SelectedPackageQty">
                                <mat-header-cell *matHeaderCellDef>Selected Package Qty</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Quantity }}</mat-cell>
                            </ng-container>

                            <!-- ConfirmedQty Column -->
                            <ng-container matColumnDef="ConfirmedQty">
                                <mat-header-cell *matHeaderCellDef>Confirmed Qty</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.confirmedQty }}</mat-cell>
                            </ng-container>

                            <!-- Missing -->
                            <ng-container matColumnDef="Missing">
                                <mat-header-cell *matHeaderCellDef>Missing</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.IsNotFound ? 'Yes' : 'No' }}</mat-cell>
                            </ng-container>

                            <!-- Unreachable -->
                            <ng-container matColumnDef="Unreachable">
                                <mat-header-cell *matHeaderCellDef>Unreachable</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Unreachable ? 'Yes' : 'No' }}</mat-cell>
                            </ng-container>

                            <!-- Picked Column -->
                            <ng-container matColumnDef="Picked">
                                <mat-header-cell *matHeaderCellDef>Picked</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.IsPicked ? 'Yes' : 'No' }}</mat-cell>
                            </ng-container>
                            <mat-header-row #sort *matHeaderRowDef="displayedColumnsItem; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsItem;" (click)="onSelect(row, 'item')"
                                id={{row.FulfillmentID}} [ngClass]="{'selected' : row == selectedFulfillmentLine}"
                                [@animate]="!selected && {value:'*',params:{y:'100%'}}">
                            </mat-row>
                        </mat-table>
                    </div>
                </div>

                <div class="center-box-message" *ngIf="!isLoading && dataSourceItems?.filteredData?.length === 0"
                    [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}">
                    No items found.
                </div>
                <!-- <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator> -->
            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->
</div>