
<div class="page-layout simple inner-scroll dialog-content-wrapper">
    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- CONTENT -->
        <div class="content" #scrollContainer>
            <div class="main-list-layout list-container">
                <div *ngIf="selected && selected.FulfillmentID" class="toolbar accent" fxLayout="row" fxLayoutAlign="flex-end center">
                    <!-- <button *ngIf="selected.FulfillmentID" 
                        aria-label="close" mat-icon-button (click)="onDialogClose()">
                        <mat-icon>close</mat-icon>
                    </button> -->
                </div>
                <!-- HEADER  -->
                <div class="sub-header accent" fxLayout="column" fxLayoutAlign="center start">
                    <div class="breadcrumb text-truncate h1 p24" 
                        style="width: 100%; text-align: left;">
                        <h1 style="display: flex;">
                            Fulfillment - {{selected.FulfillmentNumber + ' '}} 
                            <span *ngIf="selectedFulfillmentLine" style="width: 100%" [@animate]="{value:'*',params:{x:'300px'}}"> - {{selectedFulfillmentLine.ItemTPIN}}</span>
                        </h1>
                    </div>
                    <!-- SEARCH DROPDOWN BAR  -->
                    <div class="action-container" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                        <ng-select  
                            [items]="selected.FulfillmentLines"
                            [virtualScroll]="true"
                            bindLabel="ItemTPIN"
                            [(ngModel)]="searchTerm"
                            appearance="outline"
                            placeholder="Select Bin Location"
                            #mainInput
                            (focusout)="focusMainInput()"
                            [openOnEnter]=false
                            (keydown.enter)=applySearch(searchTerm)
                        >
                        </ng-select>
                        <div style="width: 12px;"></div>
                        <div style="height: 100%; padding-bottom: 1.25em;" fxLayoutAlign="center center">
                            <button [disabled]="!searchTerm"
                                color="primary" mat-fab (click)="applySearch(searchTerm)">ADD</button>
                        </div>
                    </div>
                    <div class="hero-text">
                        <mat-icon class="hero-icon">next_week</mat-icon>
                    </div>
                </div>
                <!-- /HEADER  -->
                <div fxLayout="row">
                        <div *ngIf="isLoading" class="loader">
                            <mat-spinner [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"></mat-spinner>
                        </div>
                        <div *ngIf="isRefreshing && !isLoading" class="mini-loader">
                            <mat-spinner diameter="20"></mat-spinner>
                        </div>

                        <mat-table #table [dataSource]="dataSource"
                                    matSort>
                            
                            <!-- ID Column -->
                            <ng-container matColumnDef="ID">
                                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{row.FulfillmentLineConfirmID}}
                                </mat-cell>
                            </ng-container>
                            <!-- TPIN Column -->
                            <ng-container matColumnDef="TPIN">
                                <mat-header-cell *matHeaderCellDef>TPIN</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{row.ItemTPIN}}
                                </mat-cell>
                            </ng-container>
                            <!-- VendorSKU Column -->
                            <ng-container matColumnDef="VendorSKU">
                                <mat-header-cell *matHeaderCellDef>Vendor SKU</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    {{row.ItemSKU}}
                                </mat-cell>
                            </ng-container>
                            selectedFulfillmentLine
                            <!-- Quantity Column -->
                            <ng-container matColumnDef="Quantity">
                                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index">
                                    <div *ngIf="row !== selectedFulfillmentLinePackage || !editConfirmQuantity">
                                        {{row.Quantity}}
                                    </div>
                                    <div *ngIf="row === selectedFulfillmentLinePackage && editConfirmQuantity"
                                        fxLayoutAlign="space-between center">
                                        <!-- <mat-form-field floatLabel="always" class="w-100-p"> -->
                                            <!-- <mat-label>Enter Quantity</mat-label> -->
                                            <input placeholder="Enter Quantity"
                                                    name="Quantity"
                                                    [(ngModel)]="tempQuantity"
                                                    type="number"
                                                    min="0"
                                                    max={{selectedFulfillmentLine.Quantity}}
                                                    (keyup)="keyuptest($event, i)"
                                                    (keydown.enter)="submitEnterQty(row, i)"
                                                    required
                                                    [ngClass]="{error: tempQuantity > selectedFulfillmentLine.Quantity}"
                                                    style="border: solid 1px rgba(0,0,0,0.12);
                                                    border-radius: 5px;
                                                    -webkit-transition: border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                                                    transition: border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                                                    padding-bottom: 0; padding: 4px 0; width: 70px; min-width: 40px; margin-right: 15px;"
                                                    id="{{row.BinNumber}}"
                                            >
                                            <button (click)="submitEnterQty(row, i)" [disabled]="(tempQuantity > selectedFulfillmentLine.Quantity) || tempQuantity === null " mat-icon-button color="accent"
                                                style="width: 34px; height: 34px; display: inline-flex; align-items: center; justify-content: center;">
                                                <!-- <mat-icon style="font-size: 20px">done</mat-icon> -->
                                                OK
                                            </button>
                                            <!-- <button (click)="cancelEnterQty(row)" mat-icon-button color="warn" style="width: 34px; height: 34px; display: inline-flex; align-items: center; justify-content: center;">
                                                <mat-icon style="font-size: 20px">close</mat-icon>
                                            </button> -->
                                        <!-- </mat-form-field> -->
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row #sort *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="onSelect(row)"
                                    id={{row.ItemTPIN}}
                                    [ngClass]="{'selected' : row == selectedFulfillmentLinePackage}"
                                    [@animate]="!selected && {value:'*',params:{y:'100%'}}"
                            >
                            </mat-row>
                        </mat-table>
                        <!-- <div class="center-box-message" *ngIf="!isLoading && dataSource?.filteredData?.length === 0"
                            [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}">
                            No items found.
                        </div> -->
                    <div class="sidebar">
                        <fulfillment-package-actions></fulfillment-package-actions>
                    </div> 
                </div>
            </div>
        </div>
        <!-- / CONTENT -->

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="onDialogClose()"
                    class="save-button"
                    aria-label="CLOSE">
                <div fxLayoutAlign="center">
                    <span class="btn-title">OK</span>
                </div>
            </button>
        </div>
    </div>
</div>