
<div class="page-layout simple right-sidebar inner-scroll">
    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- CONTENT -->
        <div class="content" #scrollContainer>
            <div class="main-list-layout list-container">
                <!-- HEADER  -->
                <div class="sub-header accent" fxLayout="column" fxLayoutAlign="center start">
                    <div class="breadcrumb text-truncate h1 p24" [@animate]="{value:'*',params:{x:'250px'}}">
                        <!-- <div fxLayout="row" fxLayoutAlign="start center">
                            <h1 fxLayout="row" fxLayoutAlign="start center">
                                <button mat-icon-button [routerLink]="['../../']"><mat-icon>business</mat-icon> </button>
                                <mat-icon>chevron_right</mat-icon> Outbound</h1>
                        </div> -->
                        <h1> Fulfillment - {{selected.FulfillmentNumber}} </h1>
                    </div>
                    <!-- SEARCH BAR  -->
                    <div class="action-container" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                        <div class="search-wrapper">
                            <div class="search" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text">search</mat-icon>
                                <input #mainInput [disabled]="isLoading" [(ngModel)]="searchTerm"
                                    [placeholder]="isLoading ? 'Please wait...' : 'Search Fulfillment Line (TPIN / SKU)'"
                                    (keyup.enter)=applySearch(searchTerm) (focusout)="focusMainInput()">
                                <button mat-icon-button *ngIf="searchTerm" (click)="searchTerm = ''; warehouseOutboundService.clearSelected()">
                                    <mat-icon matTooltip="Clear">clear</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div style="width: 12px;"></div>
                        <button [disabled]="(selected.FulfillmentNumber?.toLowerCase() === searchTerm.toLowerCase()) || !searchTerm"
                            color="primary" mat-fab (click)="applySearch(searchTerm)">Search</button>
                    </div>
                    <div class="hero-text">
                        <mat-icon class="hero-icon">next_week</mat-icon>
                    </div>
                </div>
                <!-- /HEADER  -->
                
                <div *ngIf="isLoading" class="loader">
                    <mat-spinner [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"></mat-spinner>
                </div>
                <div *ngIf="isRefreshing && !isLoading" class="mini-loader">
                    <mat-spinner diameter="20"></mat-spinner>
                </div>

                <mat-table *ngIf="!isLoading" #table [dataSource]="dataSource"
                            [@animateStagger]="{value:'50'}" matSort>
                    <!-- Item Column -->
                    <ng-container matColumnDef="Item">
                        <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div fxLayout="row">
                                <div style="overflow: hidden; margin-right: 6px;" fxLayoutAlign="center center">
                                    <img style="width: 40px;" src="{{fileURL + row.ItemImagePath}}">
                                </div>
                                <div fxLayout="column">
                                    <div>{{ row.ItemTPIN }}</div>
                                    <div>{{ row.ItemSKU }}</div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- BIN Column -->
                    <ng-container matColumnDef="BIN">
                        <mat-header-cell *matHeaderCellDef>BIN</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div fxLayout="column">
                                <div *ngFor="let bin of row.FulfillmentLineInventoryDetails">
                                    {{ bin.BinNumber + '(' + bin.Quantity + ')'}}
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- ConfirmedBIN Column -->
                    <ng-container matColumnDef="ConfirmedBIN">
                        <mat-header-cell *matHeaderCellDef>Confirmed BIN</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div fxLayout="column">
                                <div *ngFor="let bin of row.FulfillmentLineConfirms">
                                    {{ bin.BinNumber + '(' + bin.Quantity + ')'}}
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- OrderedQty -->
                    <ng-container matColumnDef="OrderedQty">
                        <mat-header-cell *matHeaderCellDef>Ordered Qty</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Quantity }}</mat-cell>
                    </ng-container>

                    <!-- ConfirmedQty Column -->
                    <ng-container matColumnDef="ConfirmedQty">
                        <mat-header-cell *matHeaderCellDef>Confirmed Qty</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.confirmedQty }}</mat-cell>
                    </ng-container>

                    <!-- Missing -->
                    <ng-container matColumnDef="Missing">
                        <mat-header-cell *matHeaderCellDef>Missing</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IsNotFound ? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <!-- Unreachable -->
                    <ng-container matColumnDef="Unreachable">
                        <mat-header-cell *matHeaderCellDef>Unreachable</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Unreachable ? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <!-- Picked Column -->
                    <ng-container matColumnDef="Picked">
                        <mat-header-cell *matHeaderCellDef>Picked</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IsPicked ? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>
                    <mat-header-row #sort *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="onSelect(row)"
                            id={{row.FulfillmentID}}
                            [ngClass]="{'selected' : row == selectedFulfillmentLine}"
                            [@animate]="!selected && {value:'*',params:{y:'100%'}}"
                    >
                    </mat-row>
                </mat-table>
            <!-- <div *ngIf="!isLoading && dataSource?.filteredData.length === dataSource?.data.length"
                [@animate]="{value:'*',params:{delay:'500ms', y:'225px'}}"
                style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
                Please search for an item.
            </div> -->
            <div class="center-box-message" *ngIf="!isLoading && dataSource?.filteredData?.length === 0"
                [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}">
                No items found.
            </div>
            <!-- <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator> -->
            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar details-sidebar" name="outbound-details-sidebar" position="right"
            lockedOpen="gt-sm">
        <pick-fulfillment-actions></pick-fulfillment-actions>
    </fuse-sidebar> 
</div>