<div class="main-list-layout list-container">
        
    <!-- HEADER  -->
    <div class="sub-header accent" fxLayout="column" fxLayoutAlign="center start">
        <div class="breadcrumb text-truncate h1 p24" [@animate]="{value:'*',params:{x:'50px'}}">
            <div fxLayout="row" fxLayoutAlign="start center">
                <h1 fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button [routerLink]="['../../']"><mat-icon>business</mat-icon> </button>
                    <mat-icon>chevron_right</mat-icon> Outbound</h1>
            </div>
        </div>
        <!-- SEARCH BAR  -->
        <div class="action-container" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
            <div class="search-wrapper">
                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text">search</mat-icon>
                    <input [disabled]="isLoading" [(ngModel)]="searchTerm"
                        [placeholder]="isLoading ? 'Please wait...' : 'Search Item'" (keyup.enter)=applySearch(searchTerm)>
                    <button mat-icon-button *ngIf="searchTerm" (click)="searchTerm = ''; warehouseOutboundService.clearSelected()">
                        <mat-icon matTooltip="Clear">clear</mat-icon>
                    </button>
                </div>
            </div>
            <div style="width: 12px;"></div>
            <button [disabled]="selected.FulfillmentNumber?.toLowerCase() === searchTerm.toLowerCase()" color="primary" mat-fab (click)="applySearch(searchTerm)">Search</button>
        </div>
        <div class="hero-text">
            <mat-icon class="hero-icon">next_week</mat-icon>
        </div>
    </div>
    <!-- /HEADER  -->
    
    <div *ngIf="isLoading" class="loader">
        <mat-spinner [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"></mat-spinner>
    </div>
    
    <mat-table *ngIf="!isLoading" #table [dataSource]="dataSource"
                [@animateStagger]="{value:'50'}" matSort>
        <!-- FulfillmentNumber Column -->
        <ng-container matColumnDef="FulfillmentNumber">
            <mat-header-cell *matHeaderCellDef>Fulfillment #</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.FulfillmentNumber }}</mat-cell>
        </ng-container>

        <!-- TransactionDate Column -->
        <ng-container matColumnDef="TransactionDate">
            <mat-header-cell *matHeaderCellDef>Transaction Date</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.TransactionDate | date }}</mat-cell>
        </ng-container>

        <!-- Modified Column -->
        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef >Actions</mat-header-cell>
            <mat-cell *matCellDef="let row" >
                

                <button mat-icon-button >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <!-- <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>build</mat-icon> 
                    </button>
                </mat-menu> -->
            </mat-cell>
        </ng-container>

        <!-- Detail Button Column -->
        <ng-container matColumnDef="detail-button">
            
            <!-- fxHide.gt-md // original settings was to hide these for gt-md -->
            <mat-header-cell *matHeaderCellDef fxFlex="48px"></mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="48px">
                <button mat-icon-button class="sidebar-toggle"
                        (click)="toggleSidebar('outbound-details-sidebar')">
                    <mat-icon class="secondary-text">info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="onSelect(row)"
                id={{row.FulfillmentID}}
                [ngClass]="{'selected' : row == selected}"
                [@animate]="!selected && {value:'*',params:{y:'100%'}}"
        >
        </mat-row>
    </mat-table>
    <!-- <div *ngIf="!isLoading && dataSource?.filteredData.length === dataSource?.data.length"
        [@animate]="{value:'*',params:{delay:'500ms', y:'225px'}}"
        style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
        Please search for an item.
    </div> -->
    <div class="center-box-message" *ngIf="!isLoading && dataSource?.filteredData.length === 0"
        [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}">
        No items found.
    </div>
    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator>
</div>
