<div class="main-list-layout list-container">
        
    <!-- HEADER  -->
    <div class="sub-header accent" fxLayout="column" fxLayoutAlign="center start">
        <div class="breadcrumb text-truncate h1 p24" [@animate]="{value:'*',params:{x:'50px'}}">
            <div fxLayout="row" fxLayoutAlign="start center">
                <h1 fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button routerLink="'/warehouse'"><mat-icon>business</mat-icon> </button>
                    <mat-icon>chevron_right</mat-icon> Outbound</h1>
            </div>
        </div>
        <!-- SEARCH BAR  -->
        <div class="action-container" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
            <div class="search-wrapper">
                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text">search</mat-icon>
                    <input [disabled]="isLoading" (keyup)="applyFilter(searchTerm)" [(ngModel)]="searchTerm"
                        [placeholder]="isLoading ? 'Please wait...' : 'Search Item'">
                    <button mat-icon-button (click)="searchTerm = '';">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div style="width: 12px;"></div>
            <button color="primary" mat-fab (click)="applyFilter(searchTerm)">Search</button>
        </div>
        <div class="hero-text">
            <mat-icon class="hero-icon">next_week</mat-icon>
        </div>
    </div>
    <!-- /HEADER  -->
    
    <div *ngIf="isLoading" class="loader">
        <mat-spinner [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"></mat-spinner>
    </div>
    
    <mat-table *ngIf="!isLoading" #table [dataSource]="dataSource"
                [@animateStagger]="{value:'50'}" matSort>
        <!-- Type Column -->
        <ng-container matColumnDef="FulfillmentNumber">
            <mat-header-cell *matHeaderCellDef>Fulfillment #</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.FulfillmentNumber }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="TransactionDate">
            <mat-header-cell *matHeaderCellDef>TransactionDate</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.TransactionDate | date}}</mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="ShippingMethod">
            <mat-header-cell *matHeaderCellDef>Shipping Method</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ShippingMethod}}</mat-cell>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="PickedUpBy">
            <mat-header-cell *matHeaderCellDef>Picked Up By</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.PickedUpBy}}</mat-cell>
        </ng-container>

        <!-- Size Column -->
        <ng-container matColumnDef="PickedUpOn">
            <mat-header-cell *matHeaderCellDef>Picked Up On</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PickedUpOn}}</mat-cell>
        </ng-container>

        <!-- Modified Column -->
        <ng-container matColumnDef="PickConfirmedBy">
            <mat-header-cell *matHeaderCellDef>Pick Confirmed By</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PickConfirmedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="PickConfirmedOn">
            <mat-header-cell *matHeaderCellDef>Pick Confirmed On</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PickConfirmedOn}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="PickedBy">
            <mat-header-cell *matHeaderCellDef>Pick By</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PickedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="PackedBy">
            <mat-header-cell *matHeaderCellDef>PackedBy</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PackedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="PackedOn">
            <mat-header-cell *matHeaderCellDef>PackedOn</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PackedOn}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ShippedBy">
            <mat-header-cell *matHeaderCellDef>Shipped By</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.ShippedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ShippedOn">
            <mat-header-cell *matHeaderCellDef>Shipped On</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.ShippedOn}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="PickedOn">
            <mat-header-cell *matHeaderCellDef>Picked On</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.PickedOn}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="HasMissingItem">
            <mat-header-cell *matHeaderCellDef>Has Missing Item</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.HasMissingItem}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ShippingType">
            <mat-header-cell *matHeaderCellDef>Shipping Type</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.ShippingType}}</mat-cell>
        </ng-container>

        

        <!-- Modified Column -->
        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef >Actions</mat-header-cell>
            <mat-cell *matCellDef="let row" >
                
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="composeDialog()">
                        <mat-icon>build</mat-icon> Edit Dimensions
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <!-- Detail Button Column -->
        <ng-container matColumnDef="detail-button">
            
            <!-- fxHide.gt-md // original settings was to hide these for gt-md -->
            <mat-header-cell *matHeaderCellDef fxFlex="48px"></mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="48px">
                <button mat-icon-button class="sidebar-toggle"
                        (click)="toggleSidebar('outbound-details-sidebar')">
                    <mat-icon class="secondary-text">info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row style="flex-grow: 0;" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="onSelect(row)"
                [ngClass]="{'selected' : row == selected}"
                [@animate]="!selected && {value:'*',params:{y:'100%'}}"
        >
        </mat-row>
    </mat-table>
    <!-- <div *ngIf="!isLoading && dataSource?.filteredData.length === dataSource?.data.length"
        [@animate]="{value:'*',params:{delay:'500ms', y:'225px'}}"
        style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
        Please search for an item.
    </div> -->
    <div *ngIf="!isLoading && dataSource?.filteredData.length === 0"
        [@animate]="{value:'*',params:{delay:'400ms', y:'225px'}}"
        style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
        No items found.
    </div>
    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator>
</div>
