<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0" >
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" style="overflow: hidden;">Print Item</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="row" class="header" style="min-height: 180px;">
        <div fxFlex="33.3" class="photo-header" style="background: url(assets/images/tool1.jpg)">
        </div>
        <div fxFlex="66.6" fxLayoutAlign="start center" style="background-color: #fff;" class="p-24" >
            <h2>{{selected.ItemName}}</h2>
        </div>
    </div>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div>
            <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>
                <h4>Print Item Label</h4>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Choose Label Printer</mat-label>
                    <mat-select placeholder="Choose Label Printer"
                        name="Printer"
                        formControlName="Printer"
                        required>
                        <mat-option *ngFor="let item of printers" value="{{item.name}}">{{ item.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                
               
            </form>
        </div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="accent"
                    class="save-button"
                    [disabled]="composeForm.invalid"
                    aria-label="PRINT"
                    (click)=onPrint()>
                <div fxLayoutAlign="center">
                    <span *ngIf="!isPrinting">PRINT</span>
                    <mat-spinner diameter="20" *ngIf="isPrinting"></mat-spinner>
                </div>
            </button>
        </div>
    </div>
</div>
