<div id="file-manager" class="page-layout simple right-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar main-sidebar" name="file-manager-main-sidebar" position="left">
        <file-manager-main-sidebar></file-manager-main-sidebar>
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex>
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">User Interface</span>
                </div>
                <div class="h2 mt-16">Cards</div>
            </div>
    
            <!-- <div>
                <mat-slide-toggle color="primary" (change)="toggleView()">
                    View Source
                </mat-slide-toggle>
            </div> -->
    
        </div>

        <!-- CONTENT -->
        <div class="content" fusePerfectScrollbar>
            <file-list></file-list>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right"
                  lockedOpen="gt-md">
        <file-manager-details-sidebar></file-manager-details-sidebar>
    </fuse-sidebar>

    <!-- <div class="mobile-details">
        <file-manager-details-sidebar></file-manager-details-sidebar>
    </div> -->
    <!-- / SIDEBAR -->

</div>
