@import "src/@fuse/scss/fuse";

pick-update-fulfillment {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;
    max-height: 100%;
    .sidebar {
            width: 360px !important;
            min-width: 360px !important;
            max-width: 360px !important;
            z-index: 1;
        }
    .center {
        overflow: hidden;
        .header {
            position: relative;
            height: 160px;
            min-height: 160px;
            max-height: 160px;
            @include media-breakpoint('lt-md') {
                height: 120px;
                min-height: 120px;
                max-height: 120px;
            }
        }
        .content {
            flex: 1 1 auto;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            max-height: 100%;
        }
    }
    .list-container {
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        display: flex ;
        flex-direction: column;
        padding: 0;
        .center-box-message {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .sub-header {
        position: relative;
        height: 240px;
        min-height: 240px;
        max-height: 240px;
        text-align: center;
        overflow: hidden;
        width: 100%;
        mat-icon {
            font-size: 24px;
        }
        @include media-breakpoint('xs') {
            padding: 16px;
        }
        .breadcrumb {
            flex-shrink: 0;
            z-index: 1;
            padding: 0 70px;
        }
        .hero-text {
            z-index: 0 !important;
            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
                
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
        .toolbar {
            z-index: 2;
        }
        .action-container {
            display: flex;
            padding: 0 70px;
            width: 100%;

            .search-wrapper {
                z-index: 12 !important;
                border-radius: 28px;
                overflow: auto;
                display: flex;
                flex: 6;
                @include mat-elevation(1);

                .sidebar-toggle {
                    margin: 0 0 0 6px;
                    width: 56px;
                    height: 56px;
                    border-radius: 0;
                    border-right: 1px solid;
                }

                .search {
                    width: 100% !important;
                    height: 56px;
                    line-height: 56px;
                    padding: 0 18px;
                    mat-icon {
                        color: #444 !important;
                    }
                    input {
                        flex: 1;
                        height: 56px;
                        min-height: 56px;
                        max-height: 56px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
    .loader {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mini-loader {
        position: absolute;
        z-index: 99100;
        padding: 15px;
        right: 0;
        top: 240px;
    }
    .mat-table {
        flex-grow: 1;
        overflow: auto;
        background: transparent;
        box-shadow: none;
        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;
        }
    }
    .mat-table__wrapper .mat-table {
        min-width: auto !important;
        width: 100% !important;
    }
    
    .mat-header-row {
        width: 100%;
    }
    
    .mat-row {
        width: 100%;
    }
    .mat-header {
        align-items: flex-end !important;
    }
    .mat-cell {
        border-right: 1px solid #eee;
    }
    .mat-column-Item {
        flex: 0 0 27% !important;
        min-width: 27% !important;
    }
    .mat-column-BIN {
        flex: 0 0 18% !important;
        min-width: 18% !important;
    }
    .mat-column-ConfirmedBIN {
        flex: 0 0 18% !important;
        min-width: 18% !important;
    }
}
