<div class="dialog-content-wrapper" style="height: 100%;">
    <!-- <mat-toolbar class="mat-accent m-0" >
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Package Dimensions</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar> -->
   
    <!-- HEADER  -->
    <div class="sub-header accent" fxLayout="column" fxLayoutAlign="center start">
        <div class="breadcrumb text-truncate h1 p24" style="width: 100%; text-align: left;">
            <h1 style="display: flex;">
                Package Dimensions
            </h1>
        </div>
        <div class="hero-text">
            <mat-icon class="hero-icon">next_week</mat-icon>
        </div>
    </div>
    <!-- /HEADER  -->
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar style="overflow: scroll; padding-top: 24px !important;background-color: #fff;">
        <div>
            <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Shipping Method</mat-label>
                    <mat-select placeholder="Shipping Method"
                        name="ShippingMethod"
                        formControlName="ShippingMethod"
                        required>
                        <mat-option *ngFor="let item of shippingMethods" value="{{item}}">{{ item }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Length (in)</mat-label>
                    <input matInput placeholder="Length"
                        name="Length"
                        formControlName="Length"
                        type="tel"
                        min="0"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Width (in)</mat-label>
                    <input matInput placeholder="Width"
                        name="Width"
                        formControlName="Width"
                        type="tel"
                        min="0"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Height (in)</mat-label>
                    <input matInput placeholder="Height"
                        name="Height"
                        formControlName="Height"
                        type="tel"
                        min="0"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Weight (lb)</mat-label>
                    <input matInput placeholder="Weight"
                        name="Weight"
                        formControlName="Weight"
                        type="tel"
                        min="0"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Declared Value (USD)</mat-label>
                    <input matInput placeholder="Declared Value"
                        name="Value"
                        formControlName="Value"
                        type="tel"
                        min="0"
                        required>
                </mat-form-field>
            </form>
        </div>
    </div>

    <!-- <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="onDialogClose()"
                    class="save-button-max"
                    [disabled]="composeForm.invalid"
                    aria-label="Generate Shipping Label">
                <div fxLayoutAlign="center">
                    <span *ngIf="!isSaving">Generate Shipping Label</span>
                    <mat-spinner diameter="20" *ngIf="isSaving"></mat-spinner>
                </div>
            </button>
        </div>
    </div> -->
</div>
