<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" style="overflow: hidden;">Edit Item</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <h2>{{selected.ItemName}}</h2>
        <div>
            <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>
                
                <h4>Item Dimensions</h4>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Length</mat-label>
                    <input matInput placeholder="Length"
                        name="Length"
                        formControlName="Length"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Width</mat-label>
                    <input matInput placeholder="Width"
                            name="Width"
                            formControlName="Width">
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Height</mat-label>
                    <input matInput placeholder="Height"
                            name="Height"
                            formControlName="Height"
                            type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Weight</mat-label>
                    <input matInput placeholder="Weight"
                            name="Weight"
                            formControlName="Weight">
                </mat-form-field>

                <h4>Package Dimensions</h4>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Package Length</mat-label>
                    <input matInput placeholder="PackageLength"
                        name="PackageLength"
                        formControlName="PackageLength"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Package Width</mat-label>
                    <input matInput placeholder="PackageWidth"
                            name="PackageWidth"
                            formControlName="PackageWidth">
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Package Height</mat-label>
                    <input matInput placeholder="PackageHeight"
                            name="Package Height"
                            formControlName="PackageHeight"
                            type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Package Weight</mat-label>
                    <input matInput placeholder="PackageWeight"
                            name="PackageWeight"
                            formControlName="PackageWeight">
                </mat-form-field>
            </form>
        </div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="accent"
                    (click)="save()"
                    class="save-button"
                    [disabled]="composeForm.invalid"
                    aria-label="SAVE">
                
                <div fxLayoutAlign="center">
                    <span *ngIf="!isSaving">SAVE</span>
                    <mat-spinner diameter="20" *ngIf="isSaving"></mat-spinner>
                </div>
            </button>
        </div>
    </div>
</div>
