<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" style="padding: 0;">

        <!-- HEADER -->
        <!-- <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center"> -->

        <!-- APP TITLE -->
        <!-- <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img [src]="'assets/images/no-image-icon.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.ItemName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div> -->
        <!-- / APP TITLE -->

        <!-- <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" >
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'">
                <span>SAVE</span>
            </button>
        </div> -->
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Item Name</mat-label>
                            <input matInput placeholder="Item Name" name="ItemName" formControlName="ItemName" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Vendor SKU</mat-label>
                            <input matInput placeholder="VendorSKU" name="VendorSKU" formControlName="VendorSKU"
                                rows="5">
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>FOB Price</mat-label>
                            <input matInput placeholder="FOB Price" name="FOBPrice" formControlName="FOBPrice" rows="5"
                                type="number">
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Item Description" name="Description"
                                formControlName="Description" rows="5">
                                    </textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Image</mat-label>
                            <div fxFlex fxLayout="row">
                                <div class="file-uploader">
                                    <input hidden type="file" #fileInput />
                                    <button mat-stroked-button color="warn" class="add-file-button"
                                        (click)="fileInput.click()" aria-label="Add file"
                                        [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <input matInput placeholder="Image" name="ImagePath" formControlName="ImagePath"
                                    style="display: none;">
                                <div>
                                    <img *ngIf="productForm.value.ImagePath" src="{{fileURL}} + ImagePath">
                                </div>
                            </div>
                        </mat-form-field>
                    </div>

                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>