<!-- SIDEBAR HEADER -->
<div class="header accent" 
    fxLayout="column" fxLayoutAlign="space-between">
    <div class="header-content" >
        <div class="toolbar p-16" fxLayout="row" fxLayoutAlign="space-between">
            <button *ngIf="selected.ItemID" mat-icon-button
                [matMenuTriggerFor]="moreMenu" aria-label="more">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #moreMenu="matMenu">
            </mat-menu>
            <!-- fxShow fxHide.gt-md -->
            <button *ngIf="selected.ItemID" 
                aria-label="close" mat-icon-button (click)="closeSidebar()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div *ngIf="!selected.ItemID" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span>No item selected</span>
        </div>
        <div *ngIf="selected.ItemID" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <button class="main-action" mat-raised-button color=primary>PACK</button>
        </div>
    </div>
</div> 
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" fxLayout="column" fusePerfectScrollbar>
    <div *ngIf="selected.ItemID" style="flex-shrink: 0;">
        <div class="p-24 subtitle secondary-text">
            <span>{{selected.ItemName}}</span>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="General Info" [disabled]="!selected.ItemID">
            <div class="file-details p-24" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
                <table>
                    <tr class="owner">
                        <th>TPIN</th>
                        <td>{{selected.TPIN}}</td>
                    </tr>
                    <tr class="owner">
                        <th>Vendor SKU</th>
                        <td>{{selected.VendorSKU}}</td>
                    </tr>
                    <tr class="owner">
                        <th>Description</th>
                        <td>{{selected.Description}}</td>
                    </tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Dimensions" [disabled]="!selected.ItemID">
            <div class="file-details p-24" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
                <table>
                    <tr class="Length">
                        <th>Length</th>
                        <td>{{selected.Data?.Length}} {{selected.Data?.ProductDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="Width">
                        <th>Width</th>
                        <td>{{selected.Data?.Width}} {{selected.Data?.ProductDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="Height">
                        <th>Height</th>
                        <td>{{selected.Data?.Height}} {{selected.Data?.ProductDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="Weight">
                        <th>Weight</th>
                        <td>{{selected.Data?.Weight}} {{selected.Data?.ProductWeightUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageLength">
                        <th>Package Length</th>
                        <td>{{selected.Data?.PackageLength}} {{selected.Data?.PackageDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageWidth">
                        <th>Package Width</th>
                        <td>{{selected.Data?.PackageWidth}} {{selected.Data?.PackageDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageHeight">
                        <th>Package Height</th>
                        <td>{{selected.Data?.PackageHeight}} {{selected.Data?.PackageDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageWeight">
                        <th>Package Weight</th>
                        <td>{{selected.Data?.PackageWeight}} {{selected.Data?.PackageWeightUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackagingType">
                        <th>Packaging Type</th>
                        <td>{{dictPackingType[selected.Data?.PackagingType]}}</td>
                    </tr>

                    <tr class="UnitPerPackage">
                        <th>Unit Per Package</th>
                        <td>{{selected.Data?.UnitPerPackage}}</td>
                    </tr>

                    <tr class="MaximumParcelUnit">
                        <th>Maximum Parcel Unit</th>
                        <td>{{selected.Data?.MaximumParcelUnit}}</td>
                    </tr>

                </table>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
<!-- / SIDEBAR CONTENT -->
