<!-- SIDEBAR HEADER -->
<div class="header accent" 
    fxLayout="column" fxLayoutAlign="space-between">
    <div class="header-content" [ngStyle]="{'background': selected.ItemID && 'url(assets/images/tool1.jpg)'}">
        <div class="toolbar p-16" fxLayout="row" fxLayoutAlign="space-between">
            <button *ngIf="selected.ItemID" mat-icon-button
                [matMenuTriggerFor]="moreMenu" aria-label="more">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item (click)="composeDialog()">
                    <mat-icon>build</mat-icon> Edit Dimensions
                </button>
                <hr>
                <button mat-menu-item (click)="composeDialogInventoryDetails()">
                    <mat-icon>storage</mat-icon> View Inventory Detail
                </button>
                <button mat-menu-item (click)="composeDialogCartons()">
                    <mat-icon>info</mat-icon> View Carton Information
                </button>
                <button mat-menu-item (click)="composeDialogPotentialLocations()">
                    <mat-icon>location_on</mat-icon> View Potential Location
                </button>
                <hr>
                <button mat-menu-item>
                    <mat-icon>print</mat-icon> Print Label
                </button>
            </mat-menu>
            <!-- fxShow fxHide.gt-md -->
            <button *ngIf="selected.ItemID" 
                aria-label="close" mat-icon-button (click)="closeSidebar()"
                style="background-color: #fff;">
                <mat-icon style="color: black;">close</mat-icon>
            </button>

            
        </div>
        <div *ngIf="!selected.ItemID" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span>No item selected</span>
        </div>

        <div *ngIf="selected.ItemID" class="mat-elevation-z-1 preview file-icon w-100-p"
            style="height: 100%; flex: 1; display: flex; align-items: flex-end; justify-content: center; padding: 0 16px;">
            <div *ngIf="!selected.ImagePath" 
                style="width: 100%; border-radius: 8px 8px 0 0; padding: 12px; background-color: #f5f5f5;">
                <div style="width: 100%;" class="subtitle secondary-text">
                    <span style="color: black;">{{selected.ItemName}}</span>
                </div>
            </div>
            <ng-container *ngIf="!selected.ItemID">
                <span>No item selected</span>
            </ng-container>
        </div>
        <!-- <div *ngIf="selected.ItemID" style="border-radius: 8px; padding: 8px; flex: 0; background-color: rgba(255, 255, 255, 0.60);">
            <div class="subtitle secondary-text">
                <span style="color: black;">{{selected.ItemName}}</span>
            </div>
        </div> -->
    </div>
</div> 
<!-- / SIDEBAR HEADER -->


<!-- SIDEBAR CONTENT -->
<div class="content" fxLayout="column" fusePerfectScrollbar>
    <div *ngIf="selected.ItemID" style="flex-shrink: 0;">
        <div class="p-24 subtitle secondary-text" *ngIf="selected.ImagePath">
            <span style="color: black; font-weight: 600;">{{selected.ItemName}}</span>
        </div>
    </div>
    <mat-tab-group  style="flex-grow: 1; overflow: auto;">
        <mat-tab label="General Info" [disabled]="!selected.ItemID">
            <div class="file-details p-24" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
                <table>
                    <tr class="owner">
                        <th>TPIN</th>
                        <td>{{selected.TPIN}}</td>
                    </tr>
                    <tr class="owner">
                        <th>Vendor SKU</th>
                        <td>{{selected.VendorSKU}}</td>
                    </tr>
                    <tr class="owner">
                        <th>Description</th>
                        <td>{{selected.Description}}</td>
                    </tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Dimensions" [disabled]="!selected.ItemID">
            <div class="file-details p-24" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
                <!-- <div class="title">Dimensions</div> -->
                <table>
                    <tr class="Length">
                        <th>Length</th>
                        <td>{{selected.Data?.Length}} {{selected.Data?.ProductDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="Width">
                        <th>Width</th>
                        <td>{{selected.Data?.Width}} {{selected.Data?.ProductDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="Height">
                        <th>Height</th>
                        <td>{{selected.Data?.Height}} {{selected.Data?.ProductDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="Weight">
                        <th>Weight</th>
                        <td>{{selected.Data?.Weight}} {{selected.Data?.ProductWeightUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageLength">
                        <th>Package Length</th>
                        <td>{{selected.Data?.PackageLength}} {{selected.Data?.PackageDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageWidth">
                        <th>Package Width</th>
                        <td>{{selected.Data?.PackageWidth}} {{selected.Data?.PackageDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageHeight">
                        <th>Package Height</th>
                        <td>{{selected.Data?.PackageHeight}} {{selected.Data?.PackageDimensionUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackageWeight">
                        <th>Package Weight</th>
                        <td>{{selected.Data?.PackageWeight}} {{selected.Data?.PackageWeightUOM.toLowerCase()}}</td>
                    </tr>

                    <tr class="PackagingType">
                        <th>Packaging Type</th>
                        <td>{{warehouseService.dictPackingType[selected.Data?.PackagingType]}}</td>
                    </tr>

                    <tr class="UnitPerPackage">
                        <th>Unit Per Package</th>
                        <td>{{selected.Data?.UnitPerPackage}}</td>
                    </tr>

                    <tr class="MaximumParcelUnit">
                        <th>Maximum Parcel Unit</th>
                        <td>{{selected.Data?.MaximumParcelUnit}}</td>
                    </tr>

                </table>
            </div>
        </mat-tab>
        
        <!-- <mat-tab label="Carton Info">
            <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
                <mat-table *ngIf="selected.Data"
                    #table [dataSource]="dataSource1" [@animateStagger]="{value:'50'}" matSort>
                    <ng-container matColumnDef="PONumber">
                        <mat-header-cell *matHeaderCellDef >PO Number</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.PONumber}}</span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ContainerNumber">
                        <mat-header-cell *matHeaderCellDef >Container Number</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.ContainerNumber}}</span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="InboundShipmentNumber">
                        <mat-header-cell *matHeaderCellDef >Inbound Shipment Number</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.InboundShipmentNumber}}</span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="CartonNumber">
                        <mat-header-cell *matHeaderCellDef >Carton Number</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.CartonNumber}}</span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Quantity">
                        <mat-header-cell *matHeaderCellDef >Quantity</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.Quantity}}</span>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row  *matHeaderRowDef="displayedColumns1; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;"
                            [@animate]="{value:'*',params:{y:'100%'}}"
                    >
                    </mat-row>
                </mat-table>
                
            </div>
        </mat-tab>
        <mat-tab label="Location">
            <div class="file-details p-24" [@animate]="{value:'*',params:{delay:'200ms', y:'25px'}}">
                
            </div>
        </mat-tab> -->
    </mat-tab-group>

</div>
<!-- / SIDEBAR CONTENT -->
