// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// Import Ng Select theme
@import "~@ng-select/ng-select/themes/material.theme.css";
.orange {
    background-color: #fb8c00;
}
.darkblue {
    background-color: #3949ab !important;
}
simple-notifications {
    z-index: 10000;
}