// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// Import Ng Select theme
@import "~@ng-select/ng-select/themes/material.theme.css";
.orange {
    background-color: #fb8c00;
}
.darkblue {
    background-color: #3949ab !important;
}
.green {
    background-color: #43a047;
}
.red {
    background-color: #e53935;
}
simple-notifications {
    z-index: 10000;
}
.hidden {
    display: none !important;
}
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 620ms infinite;      
    animation: ellipsis steps(4,end) 620ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }