<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="center center">

    <div id="login-intro">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="logo" style="width: 270px;" [@animate]="{value:'*',params:{scale:'0.2'}}">
                <img src="assets/images/toolots.icon.png">
            </div>

            <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                Internal Application
            </div>

            <div style="margin-bottom: 48px;" class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                Welcome. Please log in to access Toolots Internal Application.
            </div>

            <div style="width: 100%; margin: 0 auto; margin-bottom: 16px; display: block;">
                <button (click)="login()" style="width: 100%" mat-raised-button color="accent" class="submit-button" aria-label="LOGIN">
                    LOGIN
                </button>
            </div>
            <div style="width: 100%; margin: 0px auto; display: block;">
                <button style="width: 100%" mat-raised-button color="accent" class="submit-button" aria-label="LOGIN">
                    SIGNUP
                </button>
            </div>
        </div>
    </div>
</div>